.permissions-form-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.125rem;
}

.permissions-form-page .header .nav-link {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.permissions-form-page .header .nav-link a {
    font-family: IBM Plex Sans Arabic;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--number-color);
}

.permissions-form-page .header .nav-link span.slash {
    font-family: Manrope;
    font-weight: 700;
    font-size: 1rem;
}

.permissions-form-page .header .nav-link span.navigate-submain {
    font-family: IBM Plex Sans Arabic;
    font-weight: 700;
    font-size: 1rem;
    color: var(--number-color);
}

.permissions-form-page .header button {
    width: 9.1875rem;
    height: 3rem;
    border: none;
    background-color: var(--main-color);
    border-radius: 67px;
    padding: .5rem 1rem;
    font-family: IBM Plex Sans Arabic;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}