.ho-palance-user{
    width:23%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;

}
.ho-palance-user .ho-info-important{
    display: flex;
    justify-content: space-between;
}
.ho-header-palance h1{
    font-size: 1rem;
    color: var(--text-color);
}
.ho-header-palance p{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
}
.ho-footer-palance{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:1rem;
}
/* .ho-footer-palance img{
    width: 60%;
} */
.ho-footer-palance p{
font-size: 0.8rem;
font-weight: bold;
}
.ho-button-user-palance{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.ho-user-button-add,.ho-user-button-minus{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--border-color);
    border-radius: 1rem;
    justify-content: center;
    width: 49%;
    font-weight: bold;
    cursor: pointer;
}
.ho-user-button-add p,.ho-user-button-minus p{
    font-size: 0.8rem;
    color: var(--text-color);
    padding-left: 0.2rem;
 
}