.ho-report-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border-color) ;
    border-radius: 8px;
    cursor: pointer;
}
.ho-report-item-text{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}
.ho-report-item-text p{
font-weight: regular;
}
.ho-report-item-icons{
    display: flex;
    gap: 0.8rem;
}
.ho-report-item-icons div{
    padding: 0.5rem;
    background-color: var(--border-color);
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ho-report-item-icons svg{
font-size: 1.5rem;

}
.ho-close-icon{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 2rem;
   
}
.ho-popup-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    /* pointer-events:au; Allow click events to pass through the overlay */
}
.popup-overlay{
    position: absolute;
    top: 50%;
    left: 43%;
    width:20%;
    transform: translate(-50%,-50%);
    border: 0.5px solid var(--border-color);
    padding: 1rem 0;
    border-radius: 8px;
    box-shadow:1px 1px 1px var(--text-color) ;
    background-color:#F4F8FB ;

    
}
.popup-content{
    margin: 0 auto;
    width: 90%;
}
