.ho-no-active-title {
  font-size: 1rem;
  color: var(--text-color);
}
.ho-user-item-no-active {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.ho-info-user {
  display: flex;
  gap: 0.5rem;
  width: 70%;
}
.ho-user-info-item-no-acrive h1,
.ho-user-info-item-no-acrive h2,
.ho-user-info-item-no-acrive h3 {
  color: var(--text-color);
}
.ho-user-info-item-no-acrive h1 {
  font-size: 1rem;
}
.ho-user-info-item-no-acrive h2,
.ho-user-info-item-no-acrive h3,
.ho-no-active-button p {
  font-size: 0.8rem;
}
/* .ho-user-info-item-no-acrive h3{
    display: flex;
    align-items: flex-end;
} */
.ho-no-active-action {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ho-no-active-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  background-color: #fffdd0;
  color: #a87900;
  cursor: pointer;
  border-radius: 4px;
}
.ho-no-active-action div:first-child a,
.ho-icon-user-action div {
  padding: 0.5rem;
  background-color: var(--border-color);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.ho-icon-user-action {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
.ho-icon-user-action img {
  width: 2.2rem;
  cursor: pointer;
}
