.permission {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.permission .permission-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: .625rem;
}

.permission .permission-header .search-input {
    width: 100%;
}

.permission .permission-header .search-input .ho-search {
    width: 100% !important;
    margin: 0 !important;
}

.permission .permission-header .add-action button {
    width: 9.1875rem;
    border: none;
    background-color: var(--main-color);
    border-radius: 67px;
    padding: .5rem 1rem;
    font-family: IBM Plex Sans Arabic;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}