.footer {
    height: 48.51px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* direction: ltr; */
    font-size: 1rem;
    font-weight: bold;
    color: var(--number-color);
}
.footer h1{
    padding: 0 5px;
    font-size: 1rem;
}