.YS-countries-form-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.125rem;
}

.YS-countries-form-page .header .nav-link {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.YS-countries-form-page .header .nav-link a {
    font-family: IBM Plex Sans Arabic;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--number-color);
}

.YS-countries-form-page .header .nav-link span.slash {
    font-family: Manrope;
    font-weight: 700;
    font-size: 1rem;
}

.YS-countries-form-page .header .nav-link span.navigate-submain {
    font-family: IBM Plex Sans Arabic;
    font-weight: 700;
    font-size: 1rem;
    color: var(--number-color);
}

.YS-countries-form-page .header button {
    width: 9.1875rem;
    height: 3rem;
    border: none;
    background-color: var(--main-color);
    border-radius: 67px;
    padding: .5rem 1rem;
    font-family: IBM Plex Sans Arabic;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.YS-countries-form-page form.YS-country-form .input select.YS-select {
    background-color: #F4F8FB;
    width: 100%;
    height: 3.5rem;
    padding: 0.625rem 2.25rem 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: right;
}