.ho-card-info{
    width:45%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
}
.ho-card-info-child{
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.ho-card-info-text{
    width: 60%;
}
.ho-card-info-text h3{
 color: var(--text-color);
 font-size: 1rem;
 /* font-weight: regular; */
}
.ho-card-info-text p{
    color: var(--number-color);
    font-size: 2rem;
    font-weight: bold;
}